<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-4 pb-5">
    <a routerLink="/menu"><img src="../../assets/img/wheelchair.png" alt="icone" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse text-center" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex">
        <li class="nav-item">
          <a class="nav-link" routerLink='/cursos'>Cursos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Redes sociais
          </a>
          <div class="dropdown-menu mb-2" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-center" href="https://www.instagram.com/bruno_s.antos/">Instagram</a>
            <a class="dropdown-item text-center" href="https://www.linkedin.com/in/r0queh/">LinkedIn</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center" href="https://www.youtube.com">Youtube</a>
          </div>
        </li>
      </ul>
      <button class="btn btn-outline-primary mb-2" type="submit" routerLink="/entrar">Entrar <i class="fa fa-user-o" aria-hidden="true"></i></button>   
    </div>
  </nav>
<header class="bg-dark">
  <div class="img-wrapper">
    <img src="../../assets/img/bg.png" alt="">
  </div>
  <div class="row text-info banner">
    <div class="col-md-12">
      <div class="row">
        <h1>Chairing CODE</h1>
      </div>
      <div class="row mt-4 mb-0 d-flex flex-column">
        <h3 class="mb-0">Compartilhando Conhecimento</h3>
        <h3 class="mb-0">Para você ir além</h3>
      </div>
      <a href="#sobre"><button class="btn btn-outline-primary p-3 mt-2">Nos Conheça</button></a>
    </div>
  </div>
</header>

<div class="sobreNos bg-secondary" id="sobre">
  <div class="row">
    <div class="col-md-6 text-dark text-center">

      <h1 class="text-center mt-5">Sobre nós</h1>
      <hr class="m-3">
      
      <h2>Code</h2>
        <p>Focados nas tecnologias mais ultilizadas do mercado atual nós viemos com o intúito de ensinar as ferramentas que podem transformar as pessoas nos melhores profissionais possíveis para o mercado de trabalho, junto as habilidades técnicas ensinadas temos um foco em ensinar habilidades comportamentais pra fazer o profissional do futuro.</p>
      <h2>Qual nosso foco ?</h2>
        <p>Como nós já trazemos no nome nosso intúito é compartilhar (share) o conhecimento do universo da programação para as pessoas que são cadeirantes, Wheelchair em inglês, nós temos esse objetivo pois temos uma área que só cresce no brasil e não existe uma profissão mais adequada para quem precisa dessa acessibilidade do que a de um dev e além disso olhando para um mercado que pode ser muito bem remunerado pode fazer com que essa pessoa realize seus sonhos de maneira independente</p>
      <h2>Nos escolha</h2>
        <p>Porque nos escolher ? Somos uma escola focada na sua dificuldade com varias rampas de acesso e portas largas temos materiais e salas de aula adaptadas para o seu conforto, vamos pensar sempre no seu conforto em primeiro lugar e estamos aqui dedicados a levar você para ir além.</p>
        <hr class="mt-5 mb-5">
        <div class="d-flex justify-content-center text-center mb-5">
          <h2>Se interessou ? então venha fazer parte da família chairing code</h2>
      </div>

      <div class="d-flex justify-content-center mb-5">
          <button class="btn btn-primary" routerLink="/cadastrar">Cadastre-se</button>
        </div>
      </div>

      <div class="col-md-6"><img class="img-fluid" src="../../assets/img/top-view-of-unrecognizable-hacker-performing-cyberattack-at-night.jpg" alt=""></div>
      </div>
        
</div>
