<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="/menu"><img src="../../assets/img/wheelchair.png" alt="icone" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/cursos'>Cursos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Redes sociais
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.instagram.com/bruno_s.antos/">Instagram</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/r0queh/">LinkedIn</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.youtube.com">Youtube</a>
          </div>
        </li>
      </ul>      
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/entrar">Entrar <i class="fa fa-user-o" aria-hidden="true"></i></button>
    </div>
  </nav>
  <div class="inicio w-100 container-fluid">
    <div class="row container-fluid ">
        
        <div class="col text-center mt-5 text-info ">
            <div class="text-primary">
                <h1 class="display-1 mt-5">Chairing CODE</h1>
                <h3>Programando seu caminho</h3>
                <a href="#sobre"><button class="btn btn-primary my-2 my-sm-0" type="submit">Saiba mais</button></a>
            </div>
        </div>
    </div>
    
    </div>

    <div class="sobreNos bg-secondary" id="sobre">
        <div class="row d-flex">
            <div class="col-md-6 text-dark text-center align-items-center">

                <h1 class="mt-3">Sobre nós</h1>
                <hr class="m-3">
                <h2>code</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quia facilis quaerat suscipit harum incidunt iste illum et fuga, vel explicabo ratione distinctio pariatur, aperiam aspernatur iusto voluptas in a praesentium eligendi! Nihil natus porro delectus ratione doloremque odit temporibus fugit, expedita repellat in eveniet dicta similique, unde corrupti! Consequatur, a nihil. Sed veritatis repudiandae a dolorum. Accusantium ratione dolore expedita aspernatur molestiae nulla voluptate sint architecto? Quis ut maxime totam autem! Provident impedit necessitatibus distinctio molestias ea aspernatur iure, ducimus non repellendus ut pariatur ipsam quo obcaecati nostrum hic. Reprehenderit qui quod animi. Earum id cupiditate quis quos porro.</p>
                <h2>Qual nosso foco ?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae dolor quaerat dolorum id repellat iure delectus reiciendis labore quibusdam, distinctio atque nesciunt dignissimos perspiciatis sapiente alias blanditiis? Nulla et expedita odio inventore consequatur vel dolore porro optio similique, dignissimos adipisci suscipit fuga deserunt deleniti eveniet quos, at nam reiciendis nihil error dolorem ducimus alias debitis odit. Cupiditate recusandae excepturi ullam iusto amet dolore assumenda optio, qui, illum atque quis pariatur eaque asperiores quos facilis ut, quidem hic dolores eligendi.</p>
                <h2>Nos escolha</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur reprehenderit quos tempora natus eligendi quia optio corrupti. Ab excepturi nihil, totam aspernatur blanditiis nobis ipsa consequatur ipsum qui porro quam nostrum nemo, ad obcaecati voluptatum illo maxime suscipit eos temporibus. Natus quo rerum pariatur inventore error corrupti sequi iure ipsum!</p>

            </div>
            <div class="col-md-6"><img class="img-fluid" src="../../assets/img/top-view-of-unrecognizable-hacker-performing-cyberattack-at-night.jpg" alt=""></div>
        </div>
        
    </div>
